.Container {
  position: absolute;
  top: 0;
  left: 0;
}

.DraggableAvatar {
  display: inline-block;
  position: relative;
  cursor: move;
  z-index: 10;
}

.Info {
  position: absolute;
  bottom: calc(100% + 0.25rem);
  left: -0.25rem;

  display: flex;
  flex-direction: column;
  
  background-color: #ffffff8e;
  padding: 0.25rem 0;
  box-shadow: 0 0 2px 1px #ffffff8e;
  border-radius: 4px;
  
  cursor: move;
  z-index: 10;
}

.Hp {
  white-space: nowrap;
  margin: 0 0.5rem;
}

.Conditions {
  margin-top: 0.5rem;
}

