.Container {
  width: 80%;
  max-width: 40rem;
  min-width: 10rem;
  margin: auto;
}

.EmailInput {
  align-self: flex-start;
  margin-top: 1rem;
}

.Button {
  margin-right: 1rem;
  margin-top: 1rem;
}