.Container {
  
}

.EncounterName {
  border: none;
  border-bottom: 4px solid #aaa;
  /* color: #333; */
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 40rem;
}

.Buttons {
  margin-top: 2rem;
}