.vscode
node_modules
client/node_modules
server/node_modules

/.pnp
.pnp.js

# testing
client/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/constants.js
client/package-lock.json
client/src/firebase-credentials.js
server/secret
client/src/components/Firebase/firebase.js
3fca8671a38d.png
server/new 4.txt
client/.firebaserc
client/firebase.json
client/.firebase/hosting.YnVpbGQ.cache
conditions.json
damagetypes.json
features.json
news.json
server/exportdb.js
server/service-key.json
TMP
server/.gitignore
