.MapSettings {
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  margin: 1rem 1rem 1rem 2.5rem;
}

.ShortInput {
  padding: 0.25rem;
  width: 3rem;
}

:global .MapSettings-enter {
  opacity: 0;
  height: 0;
  margin: 0 1rem 0 2.5rem;
}
:global .MapSettings-enter-active {
  opacity: 1;
  margin: 1rem 1rem 1rem 2.5rem;
  height: fit-content;
  transition: all 300ms;
}
:global .MapSettings-exit {
  opacity: 1;
  margin: 1rem 1rem 1rem 2.5rem;
  height: fit-content;
}
:global .MapSettings-exit-active {
  opacity: 0;
  height: 0;
  margin: 0 1rem 0 2.5rem;
  transition: all 300ms;
}
