.AddFeature {
  padding-bottom: 2rem;
  margin: 2rem auto;
  border-bottom: 2px solid #aaa;
  width: 40rem;
  text-align: center;
}

.Type {
  width: 12rem;
}

.Name {
  width: 12rem;
}

.Description {
  width: 20rem;
}
