.UploadButton {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
}

.UploadButton:hover {
  background-color: #ccc;
}

.HiddenInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.Details {
  margin-top: 0.5rem;
}