.HidingInlineInput {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-bottom-color: #ccc;
  height: 38px;
}

.InlineInput {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 38px;
}

.InlineInput:hover,
.InlineInput:focus,
.HidingInlineInput:hover,
.HidingInlineInput:focus {
  border-color: #ccc;
  border-radius: 4px;
}

textarea::-webkit-resizer {
  display: none;
}

textarea::-webkit-scrollbar {
  width: 4px;
  background-color: #ccc; 
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #888; }