.Condition {
  margin: 1rem auto;

  /* 15 + 20-60 + 1 + 2 + 2
  40-80 */

  width: 80%;
  min-width: 40rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ConditionForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.InputFieldsRow {
  width: 100%;
}

.Description {
  flex-grow: 1;
  min-width: 20rem;
}

.Name {
  width: 12rem;
}

.SaveButtons {
  width: 2rem;
}

.Fish {
  margin: 0 1rem 1rem 1rem;
  color: #aaa;
}