.Container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.MapContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.MapImage {
  margin: 2rem 0 0 2rem;
}

.ParticipantsContainer {
  position: absolute;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  bottom: 0;
  right: 0;
  z-index: 3;
}

.ControlsContainer {
  width: 100%;
  margin-left: 2rem;
}