.Container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.Container {
  -ms-overflow-style: none;
}

.TabButton {
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.TabButton:hover, 
.TabButton.Active {
  border-color: #aaa;
}