.NavigationItemsBar {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.NarrowScreenNav {
  display: none;
}


@media(max-width: 39rem) {
  .WideScreenNav {
    display: none;
  }

  .NarrowScreenNav {
    display: flex;
  }

  .HamburgerIcon {
    font-size: 1.5rem;
  }

  .SideNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}