.DamageType {
  padding-left: 2rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CancelButton {
  width: 2rem;
}

.NameInput {
  width: 13rem;
}

.ColorButton {
  cursor: pointer;
}