.Container {
  margin: 0.5rem;
  position: relative;
}

.Draggable {
  position: absolute;
  cursor: move;
  top: 0;
  left: 0;
  z-index: 10;
}

.Dragging {
  opacity: 0.9;
}

.Draggable.DraggingDisabled,
.DraggingDisabled .FirstLetter {
  cursor: not-allowed;
}

.DisabledAvatar {
  filter: grayscale(90%);
}

.PopupName {
  white-space: nowrap;
  position: relative;
}