.Container {
  width: 80%;
  max-width: 40rem;
  min-width: 10rem;
  margin: auto;
}

.Input {
  margin-top: 1rem;
}

.Buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.SpacedButton {
  margin-right: 1rem;
}