.Container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.TemplatesPicker {
  position: relative;

  width: 20rem;
  padding: 0.5rem;
  background-color: #eee;
/* 
  overflow-y: auto; */
  height: 100%;
}

.SelectedTemplatesContainer {
  margin-left: 3rem;
  padding-right: 2rem;
  height: 100%;
  overflow-y: auto;
}

.Header {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}

.EmptyList {
  color: #aaa;
  margin-left: 1rem;
}