.IconButton {
  background-color: transparent;
  padding: 0.25rem 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.PaddedIcon {
  margin-right: 0.5rem;
}

.IconButton .Icon {
  color: #ccc;
}

.IconButton:hover .Icon,
.IconButton:active .Icon,
.IconButton:focus .Icon {
  color: #aaa;
}