.TabbedNavigationItem {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.TabbedNavigationItem a {
  color: black;
  text-decoration: none;
  width: 100%;
  display: block;
}

.TabbedNavigationItem a:hover,
.TabbedNavigationItem a:active,
.TabbedNavigationItem a.active {
  color: #aaa;
}

@media(min-width: 500px) {
  .TabbedNavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }
  
  .TabbedNavigationItem a {
    color: black;
    height: 100%;
    width: auto;
    padding: 1rem 0.75rem;
    border-bottom: 4px solid transparent;
  }

  .TabbedNavigationItem a:hover,
  .TabbedNavigationItem a:active,
  .TabbedNavigationItem a.active {
    background-color: white;
    border-bottom-color: #aaa;
    color: black;
  }
}