.EditParticipantTemplateForm {
  justify-content: center;
  align-items: center;
  justify-items: left;
  gap: 1rem 2rem;
  display: grid;
  grid-template-columns: max-content 13rem;
}

.RadioButtonsGroup {
  display: flex;
  align-items: center;
}

.RadioButtonsGroup label {
  margin-right: 1rem;
}

.InputField {
  width: 13rem;
}

.Avatar {
  align-self: flex-start;
  text-align: left;
}

.ExtraSpeeds {
  padding-left: 4rem;
}

.ExtraSpeedInput {
  width: 2.5rem;
  padding: 0.5rem 0.2rem;
}

.FullRow {
  grid-column: 1 / span 2;
}

.FullRow button {
  margin-right: 1rem;
}